.expandable-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	width: 90vw;

	.expandable-item {
		width: 100%;
	}
}

.collapsible-button {
	padding: 18px;
	width: 100%;
	border: none;

	outline: none;
	background-color: #eee;

	color: #444;
	font-size: 15px;
	text-align: left;

	cursor: pointer;
}

.content {
	padding: 0 18px;
	background-color: #f1f1f1;
}

.opened {
	display: block;
	overflow: auto;
}

.closed {
	display: none;
	overflow: hidden;
}
