.expandable-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	width: 95dvw;

	.expandable-item {
		width: 100%;

		.collapsible-button {
			padding: 1rem;
			width: 100%;

			background-color: var(--color-gray);

			color: #444;
			font-size: 1rem;
			text-align: left;

			cursor: pointer;
		}

		.content {
			padding: 1rem 2rem;
			background-color: lightgray;
		}

		.opened {
			display: block;
		}

		.closed {
			display: none;
		}
	}
}
