@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.homePageQuote {
	margin-top: 10rem;
	margin-inline: auto;

	text-align: center;
	color: var(--color-white);

	font-size: 5rem;
	line-height: 1.5;
	font-family: "Poiret One", cursive;

	user-select: none;
}
