@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.full-screen {
	height: calc(100dvh);

	background-image: radial-gradient(var(--color-background), var(--color-black));
}

.homePageQuote {
	margin-top: 10rem;
	margin-inline: auto;
	margin-bottom: 10rem;

	text-align: center;
	color: var(--color-white);

	font-size: 5rem;
	line-height: 1.5;
	font-family: "Poiret One", cursive;

	user-select: none;
}
