.title-images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	background-color: gray;

	img {
		display: block;

		width: 100%;
		aspect-ratio: 9 / 9;

		filter: grayscale(100%);

		transition: all 0.35s ease;

		cursor: pointer;

		&:hover {
			filter: grayscale(0%);
		}
	}
}

.imageItemsScreen {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	place-items: center;

	.imageItem {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		place-items: center;

		width: 25rem;
		height: 25rem;

		h2 {
			text-align: center;
			color: var(--color-white);
			font-family: "Poiret One", cursive;
			font-size: 1.5rem;
			line-height: 2rem;
			letter-spacing: 0.15rem;
			text-decoration: none;
		}

		img {
			width: 20rem;
			height: 20rem;

			border: 0.3rem solid var(--color-gray);
			border-radius: 2rem;
		}
	}
}
