:root {
	--color-background-home: hsl(260, 10%, 15%);

	--color-white: hsl(0, 0%, 100%);
	--color-lightgray: hsl(0, 0%, 75%);
	--color-gray: hsl(0, 0%, 50%);
	--color-darkgray: hsl(0, 0%, 25%);
	--color-black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: var(--color-background);
}

::selection {
	background-color: var(--color-gray);

	color: var(--color-background);
}
